[user]
	name  = Marcelo M. A
	email = ma.munoz.araya@gmail.cl
[alias]
	s  = status --untracked-files=normal
        sa = status --untracked-files=all
        sn = status --untracked-files=no
	d  = diff
	dc = diff --cached
	last = log -1 HEAD
	co = checkout
        us = reset HEAD
[status]
        showUntrackedFiles = all
[diff]
	algorithm = patience
