[user]
	name  = Marcelo M. A.
	email = ma.munoz.araya@gmail.com
[alias]
	s  = status --untracked-files=normal
        sa = status --untracked-files=all
        sn = status --untracked-files=no
	d  = diff
	dc = diff --cached
	last = log -1 HEAD
	co = checkout
[status]
        showUntrackedFiles = all
[diff]
	algorithm = patience
[rebase]
	autoStash = true
[merge]
	autoStash = true
[pull]
	rebase = false
[github]
	user = marcelino-m
